* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(252, 252, 252);
}

header {
    padding: 3rem;
    background-color: darkslategrey;
    color: rgb(252, 252, 252);
    text-align: center;
}

header>h1 {
    font-size: 10rem;
}


.home, .contatti, .chi {
    display: inline-block;
    margin: 20px;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

/* Dimensionamento img */


.container {
    display: inline-block;
    background-color: #5e5e5e6e;
}


img {
    max-width: 100%;
}

.size {
    display: inline-block;
    width: 400px;
}


/* Inizializzazione pagina */

.products {
    width: 1400px;
    margin: 2rem auto;
    margin-left: 20%;
}

.product {
    display: inline-block;
    position: relative;
    margin: 0.5rem;
    text-align: center;
}

/* Posizionamento cuore
  ******************* */
.badge_top {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 5px;
}

/* Colore sfondo cuore
  ******************* */
.bg_heart {
    background-color: rgb(252, 252, 252);
}

/* Colore sconto 50% 30%
  ******************* */
.bg_red {
    background-color: rgb(235, 0, 55);
    color: rgb(252, 252, 252);
}

/* Posizionamento sconto
  ******************* */
.badge_down {
    width: 47px;
    height: 28px;
    font-size: 1rem;
    position: absolute;
    bottom: 25px;
    left: 0px;
    padding: 5px;
}

/* Posizionamento tag sostenibile green
  ******************* */
.sostenibile {
    width: 95px;
    height: 28px;
    font-size: 1rem;
    position: absolute;
    bottom: 25px;
    left: 51px;
    padding: 5px;
}

.only_sostenibile {
    width: 95px;
    height: 28px;
    font-size: 1rem;
    position: absolute;
    bottom: 25px;
    padding: 5px;

}

/* Colore tag sostenibile green
  ******************* */
.bg_green {
    background-color: rgb(0, 135, 90);
    color: rgb(252, 252, 252);
}

/* Colore sconto
*********** */
.promo {
    display: inline-block;
    color: rgb(255, 0, 0);
}

.scount {
    display: inline-block;
    text-decoration: line-through;
}

/* Allineamento parte TESTUALE DESCRIZIONE 
**********/

.txt_align {
    padding-left: 10px;
    width: 68%;
}



/* Cambio immagione al passaggio del mouse 
*******************/

.immagine1 {
    display: block;
}

.immagine2 {
    display: none;
}

.magic:hover .immagine1 {
    display: none;
}

.magic:hover .immagine2 {
    display: block;
}



.home:hover {
    background-color: rgba(64, 136, 218, 0.589);
    border-radius: 15rem;
    padding: 4px;
}

.contatti:hover {
    background-color: rgba(64, 136, 218, 0.589);
    border-radius: 15rem;
    padding: 4px;
}

.chi:hover {
    background-color: rgba(64, 136, 218, 0.589);
    border-radius: 15rem;
    padding: 4px;
}