* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(252, 252, 252);
}

/* Inizializzazione pagina */

.products {
    width: 1000px;
    margin: 2rem auto;

}

.product {
    display: inline-block;
    position: relative;
    margin: 1rem;
    text-align: center;
}

/* Posizionamento cuore
  ******************* */
.badge_top {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 5px;
}

/* Colore sfondo cuore
  ******************* */
.bg_heart {
    background-color: rgb(252, 252, 252);
}

/* Colore sconto 50% 30%
  ******************* */
.bg_red {
    background-color: rgb(235, 0, 55);
    color: rgb(252, 252, 252);
}

/* Posizionamento sconto
  ******************* */
.badge_down {
    width: 47px;
    height: 28px;
    font-size: 1rem;
    position: absolute;
    bottom: 25px;
    left: 0px;
    padding: 5px;
}

/* Posizionamento tag sostenibile green
  ******************* */
.sostenibile {
    width: 95px;
    height: 28px;
    font-size: 1rem;
    position: absolute;
    bottom: 25px;
    left: 51px;
    padding: 5px;
}

/* Colore tag sostenibile green
  ******************* */
.bg_green {
    background-color: rgb(0, 135, 90);
    color: rgb(252, 252, 252);
}

/* Colore sconto
*********** */
.promo {
    display: inline-block;
    color: rgb(255, 0, 0);
}

.scount {
    display: inline-block;
    text-decoration: line-through;
}

/* Allineamento parte TESTUALE DESCRIZIONE 

**********/

.align {
    padding-left: 20px;
}



/* Cambio immagione al passaggio del mouse 
*******************/

.immagine1{
    display: block;
}

.immagine2{
    display: none;
}

#cambioimmagine:hover .immagine1 {
    display: none;
}
#cambioimmagine:hover .immagine2 {
    display: block;
}


